h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  opacity: 0.8;
  font-size: 20px;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h3:first-letter {
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  display: inline;
  margin: 0px 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  max-width: 60%;
  margin-top: 100px;
}
.card {
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.temp {
  font-size: 45px;
  opacity: 0.8;
  margin-left: -10px;
}
.degree .iconImg,
.iconImages {
  max-width: 80px;
  margin: 0px;
  margin-top: -20px;
  padding: 0%;
}
.iconImages {
  margin-left: -20px;
  margin-bottom: -15px;
}

.forecast-temperature {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}

.form-group .city,
.btn-primary {
  font-family: "Playfair Display", serif;
}

.form-group .city {
  border: none;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.submitButton,
.btn-primary {
  background: #318fb5;
  padding: 35px, 40px;
  color: #f4f4f4;
  transition: all 200ms ease-in-out;
  border: none;
  margin-bottom: 5px;
  font-size: 20px;
}

.btn-primary {
  background: #eea2a2;
  cursor: pointer;
  padding: 10px, 5px;
  font-size: 15px;
}
.btn-primary:hover {
  background: #318fb5;
}

.unit {
  position: relative;
  top: -20px;
}
.active {
  color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
